.header__lang-link {
  margin: 0;
  width: 30px;
  height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 18px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.header__lang-link:last-of-type {
  padding: 0;
}
