.header__lang-link {
  margin: 0;
  width: 30px;
  height: 28px;
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 18px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
}

.header__lang-link:active {
  text-decoration: underline;
}

.header__lang-link:last-of-type {
  padding: 0;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
  }
}
