.photo-grid {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    width: calc(100% - 96px);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% - 32px);
    grid-template-columns: 1fr;
  }
}
