.cover__subtitle {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 195px;
  font-family: 'Inter-Regular';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  width: 360px;
  position: relative;
  z-index: 3;
}
