.footer__copyright {
  margin: 0;
  font-family: 'Inter-Regular';
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    line-height: 14px;
    padding-top: 48px;
  }
}
