  .intro__text {
    margin: 40px 0 33px 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 690px;
  }

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
  }
}
