.lead__subtitle {
  margin: 32px auto 64px auto;
  font-family: 'Inter-Regular';
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px auto;
  }
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    font-size: 25px;
    line-height: 1.25;
    max-width: 540px;
  }
}

@media screen and (max-width: 565px) {
  .lead__subtitle {
    font-size: 20px;
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px auto 40px auto;
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
  }
}
