.place__link {
  margin: 12px 0 0;
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.place__link:hover {
  opacity: 80%;
}

@media screen and (max-width: 320px) {
  .place__link {
    padding: 0 16px;
  }
}
