.cover__title {
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  color: #FFFFFF;
  text-align: center;
  width: 560px;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (max-width: 560px) {
  .cover__title {
    width: 400px;
    font-size: 52px;
    line-height: 55px;
  }
}

@media screen and (max-width: 440px) {
  .cover__title {
    width: 320px;
    font-size: 42px;
    line-height: 45px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    width: 240px;
    font-size: 32px;
    line-height: 35px;
  }
}
