.cover__title {
  margin: 0 auto;
  padding-top: 195px;
  font-family: 'Inter-Black';
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  color: #FFFFFF;
  text-align: center;
  width: 560px;
  position: relative;
  z-index: 3;
}
