.footer {
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: calc(100% - 96px);
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: calc(100% - 32px);
  }
}
