.place__url-heading {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #AAAAAA;
  letter-spacing: 2px;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
