.place__url-heading {
  font-family: 'Inter-Regular';
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  letter-spacing: 2px;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    padding: 0 16px;
  }
}
