.intro__title {
  margin: 0;
  font-family: 'Inter-Black';
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  color: #FFFFFF;
  max-width: 690px;
  text-align: left;
}

@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 48px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 650px) {
  .intro__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 565px) {
  .intro__title {
    font-size: 36px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
